*{
    padding: 0;
    margin: 0;
    font-family: "Arimo", sans-serif;
}

.nav-main{
    display: flex;
    background-color: #FFFFFF;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 65px;
}
.nav-header p{
    font-size: 36px;
    align-items: center;
    text-align: center;
    font-weight: 200px;
    color: #000000;
}
.nav-menu{
    display: flex;
    padding: 8px;
    list-style-type: none;

}
.nav-menu li{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding : 15px;
    
}
.nav-menu li a{
    text-decoration: none;
    color: #000000;
}

.search{
    display: flex;
    align-items: center;
}
.search a{
    padding: 15px;
    font-size: 20px;
    color: #000000;   
}
.hero{
    top: 80px;
}
.hero img{
    width: 100%;
    height: 648px;
    object-fit: cover;
}
.hero-img-text h1{
position: absolute;
width: 492.42px;
height: 104px;
left: 770.03px;
top: 296px;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 48px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-button{
box-sizing: border-box;
position: absolute;
width: 175.16px;
height: 58px;
left: 928.66px;
top: 448px;
border: 5px solid #FFFFFF;
background: none;
color: #FFFFFF;
font-weight: 700;
font-size: 21px;
border-radius: 3px;
}

.heading{
    margin: 50px 0;
    font-size: 26px;
    line-height: 58px;
    text-align: center;
    color: #1D1D1D;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(4 , auto);
    justify-content: center;

}
.product-grid div{
    margin: 20px;
}
.product-grid p{
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #1D1D1D;
    font-weight: 800;
    
}
.product-grid h5{
font-size: 16px;
line-height: 19px;
align-items: center;
text-align: center;
color: #024E82;
}
.benefit{
    display: flex;   
}
.benefit div{
    padding: 63px 70px;
}
.benefit h4{
    display: inline;
    font-size: 10px;
    font-family: 'Baloo';
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    align-items: center;
    text-transform: uppercase;
    color: #1D1D1D;
}
.benefit p{
font-family: 'Lato';
font-weight: 400;
line-height: 19px;
align-items: center;
color: #555555;
font-size: 10px;
margin-left: 50px;
}
.benefit i{
font-weight: 900;
font-size: 24px;
color: #024E82;
padding: 10px;
}
.promo{
    display: grid;
    grid-template-columns: 60% auto;
    text-align: center;
}
.promo-card{
    background: #1D1D1D;
    display: inline;
    align-items: center;
    padding: 78px;
    margin:0 5px ;
    color: #FFFFFF;
    text-align: center;
}
.promo-card h4{
font-family: 'Lato';
font-weight: 400;
font-size: 32px;
text-transform: uppercase;
padding-bottom: 30px;
}
.promo-card p{
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 30px;
}
.promo-button{
padding: 14px 36px;
color: #024E82;
background: #FFFFFF;
box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.04);
}
.shop-button{
    text-align: center;
    margin: 78px;
}
.shop-button > button {
    font-family: 'Lato';
    color: #ffffff;
    background: #024E82;
    padding: 18px 36px;
}

.top-links{
    display: flex;
    justify-content: space-around;
    color: #1D1D1D;
    padding: 70px 0;
}
.top-links h3{
    font-family: 'Arimo';
font-weight: 700;
font-size: 12px;
letter-spacing: 0.05em;
text-transform: uppercase;
padding-bottom: 30px;


}
.top-links li{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
list-style-type: none;
}
.get-in-the-known input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid #555555;
}
.bottom-links{
    display: flex;
    justify-content: space-between;
    margin: 30px 120px;
}
.bottom-links p{
font-family: 'Lato';
font-weight: 400;
font-size: 14px;
line-height: 28px;
color: #1D1D1D;
}
hr{
    border: 1px solid #E8E8E8;
    margin: 0 120px;
    
}
.bottom-links-right img{
    padding: 0 10px;

}









